/*-------------------navbar-----#917154-------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
body{
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: #f0efee;
}

.clear-fix::after{
  content: '';
  display: block;
  clear: both;
}
nav{
  position: relative;
  display: flex;
  height: 80px;
  width: 100%;
  background: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  border-bottom: solid #555 2px;
}
nav .logo{
  color:black;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 14px 17px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all  ease;
}
nav ul li a.active,
nav ul li a:hover{
  color:white;
  background:#555;
}
nav .menu-btn i{
  color:black;
  font-size: 22px;
  cursor: pointer;
  display: none;
  z-index: 4;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  #click:checked ~ body{
    overflow-y: hidden;
  }
  nav ul{
    position: fixed;
    top: 50px;
    left: -100%;
    background:white;
    height: 120vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.5s ease;
    padding: 0px 40px;
    overflow-x: hidden;
    z-index: 2;
  }
  nav .menu-btn i{
    display: block;
   z-index:3;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    display: block;
    font-size: 20px;
    transition: 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color:rgb(4, 202, 119);
  }
}


.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}
/*XXXXXXXXXXXXXXXXX-navbar-XXXXXXXXXXXXXXXXXXX*/


/*---------------SUBJECT----------------*/
.subject h1{
  font-weight:700;
  margin: 20px 20px;
  text-align: center;
  }
  /*XXXXXXXXXXXXXX-SUBJECT-XXXXXXXXXXXXXX*/

/*------------SLIDER-------------*/
.wrapper{
  width: 100%;
  z-index: 0;
}
.carousel{
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}
.carousel .card{
  color: rgb(0, 0, 0);
  background-color: rgb(253, 253, 253);
  text-align: center;
  margin: 20px 0;
  height: 20pc;
  line-height: 24px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
 
}
img{
  margin-bottom: 15px;
}
.card h1{
  margin: 0px 10px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
.card h1:hover{
  color: #ff0055;
}
.btn{
  letter-spacing: 1px;
  padding: 10px 20px;
  margin: 1.5rem;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
}

.btn:hover{
  background:rgb(139, 139, 139);
  color: white;
  border:1px solid rgb(134, 134, 134) .1px;
}
.owl-dots{
  text-align: center;
  margin-top: 40px;
}
.owl-dot{
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0072bc!important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background: #0072bc!important;
}
@media (max-width: 600px) {
  .carousel .card{
   height: 380px;
   border: #000000 solid  2px;
  }
}
@media (max-width: 500px) {
  .carousel .card{
   height: 20pc;
   border: #000000 solid  2px;
  }
}
/*XXXXXXXXXXXXXXX-SLIDER-XXXXXXXXXXXXXXXX*/

/*----------------RECENT POST------------------*/
.cont{
  width: 90%;
  margin: 30px auto 30px;
}

.cont .main-cont{
  width: 70%;
  float: left;
}

.cont .main-cont.single{ 
padding: 20px 50px;
font-size: 1rem;
border-radius: 5px;
background-color: white;
margin-right: 15px;
box-shadow: 0px 4px 15px rgb(0, 0, 0,0.2);
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.main-cont.single.blockspg{ 
  padding: 0pc 50px;
  padding-left: 20px;
  font-size: 1rem;
  border-radius: 5px;
  margin-right: 15px;
  box-shadow: 0px 4px 15px rgb(0, 0, 0,0.2);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
.cont .main-cont.single .post-title{
  text-align: center;
  margin-bottom: 40px;
}

.cont .main-cont .post{
  width: 95%;
  min-height: 13pc;
  margin: 20px auto;
  background: white;
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
.cont .main-cont .post h1{
  margin: .6pc 6px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5pc;
  margin-bottom: .6pc;
}
.cont .main-cont .post h1 :hover{
  color: #ff0055;
}
.cont .main-cont .post .inshort{
  color: #322f30;
  margin: 0px 6px;
  margin-right: 13px;
  text-align: justify;
  font-size: 15.5px;
}
.cont .main-cont .post .fa-calendar{
  position: absolute;
  bottom: 2pc;
  letter-spacing: .7px;
  font-weight: 600;
  margin: 0pc .8pc;
  color: #444;
}
.cont .main-cont .post .fa-user-astronaut{
  position: absolute;
  bottom: 2pc;
  letter-spacing: .7px;
  margin-left: 5.8pc;
  color: #444;
}
.cont .main-cont .post .post-image{
   border-radius: 20px;
   width: 19.5pc;
   min-height: 13pc;
   float: left;
   margin-bottom: 0px;
   padding: 10px;
 }
 .cont .main-cont .post .post-preview
 {
   padding: 5px;
   width: 60pc;
 }
 .cont .main-cont .post .post-preview .preview-text{
   margin: 20px;
 }
 .post .readmore
 {
   position: absolute;
   bottom: 1px;
   right: 2px;
   border: black 1px solid;
 }
 .cont .main-cont .recent-post-title{
   margin: 20px;
 }
.cont .popular .post{
  border-top: 1px solid rgb(92, 88, 88);
  height: 5pc;
  padding-top: 6px;
}
.cont .popular .post img{
  height: 65px;
  width:75px;
  float: left;
  margin-right: 10px;
  padding-top: 2px;
}
.cont .popular .post .title {
  font-size: 15px;
  font-weight: 500;
  line-height:0pc;
}
.cont .popular .post .title:hover{
  color: rgb(56, 56, 56);
}

a {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 410px){
  
  .cont .main-cont .post .inshort{
    font-size: 14.8px;
  }
  .post .readmore
  {
    position: absolute;
    bottom: 2px;
    right: 1px;
    border: black 1px solid;
    padding: 7px 12px;
  }
}


/*------------------SIDEBAR----------------*/
.cont .sidebar{
  width: 28.5%;
  float: left;
}
.cont .sidebar.single{
  padding: 0px 10px;
}
.cont .sidebar .section{
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  border-radius: 15px;
}
.cont .sidebar .section.search{
  margin-top: 17px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
.text-input{
  padding: .7rem 1rem;
  display: block;
  width: 18pc;
  border-radius: 5px;
  border: 1px solid rgb(114, 113, 113);
  outline: none;
  color: #444;
  line-height: 1.5rem;
}
.cont .sidebar .section.topics ul{
  margin: 0px;
  padding: 10px;
  list-style: none;
  border-top: 1px solid rgb(128, 119, 119);
}
.cont .sidebar .section.topics ul li a{
  display: block;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid rgb(128, 119, 119);
  color: black;

}
.cont .sidebar .section.topics ul li a:hover{
padding-left: 10px;
transition: ease .3s;
color:rgb(56, 56, 56);
}
.cont .sidebar .social-corner{
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  border-radius: 15px;
}
/*XXXXXXXXXXXXXXX-SIDEBAR-XXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXX-RECENT POSTS-XXXXXXXXXXXXXXXX*/

/*--------------------------ABOUT US--------------------------*/
.wrap{
  margin-top: -3%; 
}

.wrap h1{
  padding: 2pc;
  font-family: 'Poppins', sans-serif;
  font-size: 52px;
  margin-bottom: 70px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap; 
  height: 35pc;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 70px;
  width: 300px;
  padding: 30px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.team .team_member h3{
  color: #000000;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role {
  color: rgb(158, 155, 155);
  margin: 20px 0;
  margin-bottom: 2pc;
  font-size: 17px;
  text-transform: uppercase;
}
.team .team_member p.bio {
  font-size: 20px;
  color: rgb(126, 126, 126);
  text-align:justify;

}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  object-fit:cover;
  border-radius: 50%;
}
@media only screen and (max-width: 617px){
  .wrap{
    margin-top: -3%; 
    min-height: 85pc;
  }
}
/*XXXXXXXXXXXXXXX-ABOUT US-XXXXXXXXXXXXXXXX*/

/*--------------------------SERVICES--------------------------*/
.Service .cont{
 width: auto;
 height: auto;
 min-height: 10pc;
}
.Service h1{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXX-SERVICES-XXXXXXXXXXXXXXXXXXXXXXXX*/
/*--------------------------FOOTER--------------------------*/
footer{
  bottom: 0;
  width: auto;
  background: rgb(32, 32, 32);
  padding: 10px;
  z-index: 0;
}

.foot-main-content{
  display: flex;
  padding: 20px;
 
}
.foot-main-content .box{
  flex-basis: 30pc;
  
  padding: 20px;
}

.box h2{
  font: 1.125rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.box .foot-content{
  margin: 20px 0 0 0 ;
  color: white;
}
.left .foot-content p{
  text-align: justify;
  
}
.left .foot-content .foot-social{
margin: 20px 0px;

}
.left .foot-content .foot-social a{
  padding: 0 2px;
}
.left .foot-content .foot-social a span{
  height: 40px;
  width: 40px;
  color: white;
  background: rgb(43, 43, 43);
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: .3s;
}

.left .foot-content .foot-social a span:hover{
  background: rgb(78, 78, 78);
}

.center .foot-content .fas{
  font-size: 1.4rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50;
  transition: .3s;
  cursor: pointer;
}
.center .foot-content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}

.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #7e7e7e;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  color: white;
  border: 2px solid #636363;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #4b4b4b;
}
.right form input{
  height: 35px;
}
.right form .foot-btn{
  margin-top: 10px;
}
.right form .foot-btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .foot-btn button:hover{
  background: rgb(78, 78, 78);
  color: white;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}


@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .foot-main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .foot-main-content .box{
    margin: 0px 0;
    padding-bottom: -30pc;
    flex-basis: 12pc;
  }
}
@media only screen and (max-width: 1293px) {
  .cont {
    width: 100%;
  }

  .content .main-cont .post {
    width: 100%;
  }

  .cont .main-cont {
    width: 100%;
    padding: 10px;
  }

  .cont .sidebar {
    width: 100%;
    padding: 10px;
 
    margin-top: 1pc;
  }

  .cont .sidebar .section.search {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 934px) {
  .cont {
    width: 100%;
  }

  .auth-cont {
    width: 50%;
  }

  .cont .main-cont .post {
    width: 100%;
  }

  .cont .main-cont {
    width: 100%;
    padding: 10px;
  }

  .cont .sidebar {
    width: 100%;
    padding: 10px;
  }

  .cont .sidebar .section.search {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 795px) {
  .cont {
    width: 100%;
  }

  .content .main-cont .post {
    width: 100%;
  }
  .cont .main-cont .post .post-image{
    width: 15pc;
     height: 230px;
     float: left;
     margin-bottom: 0px;
   }
   
  .cont .main-cont.single .post-title{
    text-align: center;
    margin-bottom: 10px;
  }
  .cont .main-cont {
    width: 100%;
    padding: 10px;
  }
  

  .cont .sidebar {
    width: 100%;
    padding: 10px;
    
  }

  .cont .sidebar .section.search {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 720px) {
  
  
  .cont .main-cont .post {
  
    flex-direction: column;
    line-height: 30px;
    width: 27pc;
    height: 30pc;
  }
  .cont .main-cont.single {
    padding: 10px 20px;
    padding-right: 20px;
    
  }
  .cont .main-cont .post .post-image {
    width: 100%;
  }
  .cont .main-cont .post .post-preview {
    width: 100%;
  }
  .cont .main-cont .post .read-more {
    position: static;
    display: block;
    width: 100%;
    text-align: center;
  }
  .post-slider .next {
    right: 10px;
  }

  .post-slider .prev {
    left: 10px;
  }
}
@media only screen and (max-width: 478px) {
  

  .cont .main-cont .post {
  
    flex-direction: column;
    line-height: 30px;
    width: 24pc;
    height: 31pc;
    
  }
  .cont .main-cont.single {
    padding: 10px 20px;
  }

  .cont .main-cont .post .post-image {
    width: 100%;
  }

  .cont .main-cont .post .post-preview {
    width: 100%;
  }

  .cont .main-cont .post .read-more {
    position: static;
    display: block;
    width: 100%;
    text-align: center;
  }

  .post-slider .next {
    right: 10px;
  }

  .post-slider .prev {
    left: 10px;
  }
}

/*XXXXXXXXXXXXXX-FOOTER-XXXXXXXXXXXXXXXXXXXXX*/
/*--------------------------ARTICLE CHANGES--------------------------*/

.post-content a{
  font-weight: 400;
  color: rgb(68, 37, 141);
}
.post-content a:hover{
  color: rgb(59, 45, 88);
}
.post-content .source{
  color: #555;
  font-style: italic;
  font-size: 14px;
  margin-top: 0px;
}
.terms{
  color:#444;
  padding: 0px 20px;
  line-height: 10px;
}
.speed{
  font-size:16px;
}
.image{
  width: 100%;
  height: auto;
}
.vertical-menu {
  width : 250px; /* Set a width if you like */
  margin-left: -20px;
  
  height: 1300px;
  overflow-y:scroll;
}
.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}
.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #313131; /* Add a green color to the "active/current" link */
  color: white;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXX-ARTCILE CHANGES-XXXXXXXXXXXXXXXXXXXXX*/


.footer-social-icons a {
  text-decoration: none;
  color: #fff;
}
.footer-social-icons p > a:hover{
  color: #d9d9d9;
  text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin:  1% 0 1% 0;
}
._12 {
  font-size: 1.2em;
}
._14 {
  font-size: 1.4em;
}
ul {
  padding:0;
  list-style: none;
}
.footer-social-icons {
  width: 350px;
  display:block;
  margin: 0 auto;
  
}
.social-icon {
  color: #fff;
  
}
ul.social-icons {
  margin-top: 10px;
  
}
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
  
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.social-icons .fa,.fab{
  border-radius:1000000pc;
  padding: 4px;
}
.social-icons .fa-twitter {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #00aced;
  
}

.social-icons .fa-instagram {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: white;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 35%,#d6249f 60%,#285AEB 90%);
}
.social-icons .fa-youtube {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #FF0000;
}
.social-icons .fa-linkedin {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  background-color: #0073a4;
}
.social-icons .fa-github {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  background-color: #000000;
}
.fa-youtube,.fa-github,.fa-linkedin,.fa-instagram ,.fa-twitter:hover {
  color: white;
}
.team_member .social-icons{
  margin-top: 40px;
  padding:2px;
  transform: translateX(-3.3pc);
}



